<div class="push"></div>
<div id="footer" class="card">
      <p>By <%= image_tag "nyan_cat.gif", class: "icon_md" %> from    <%= image_tag "le_wagon.png", class: "icon_sm" %>   with   <i class="fa fa-heart heart" aria-hidden="true"></i></p>
</div>
