#footer {
  padding: 10px;
  text-align: center;
  background: #FFFFFF;
}

.icon_md {
  height:50px;
}

.icon_sm {
  height:25px;
}

.heart {
  color : red;
  font-size: 2em;
}

.heart:hover {
  color : #6940D6;
  font-size: 2em;
}

#footer,
.push {
  height: 100px;
}


